.select-year {
  display: inline-block;
  z-index: 10000;
  vertical-align: top;
}
.select-year cite {
  background-color: rgba(209, 241, 255, 0.05);
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  width: 80px;
  height: 22px;
  line-height: 20px;
  border-radius: 2px;
  display: block;
  color: #0D80FE;
  cursor: pointer;
  font-style: normal;
  padding-left: 4px;
  padding-right: 24px;
  border: 1px solid #094B81;
}
.select-year cite.active {
  border-color: #094B81;
  -webkit-box-shadow: 0 1px 2px #6AABDD;
  -moz-box-shadow: 0 1px 2px #6AABDD;
  box-shadow: 0 1px 2px #6AABDD;
  border-bottom: 0;
}
.select-year cite:after {
  display: block;
  content: "";
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/icon-select.png") no-repeat center;
}
.select-year ul {
  box-sizing: border-box;
  width: 80px;
  background-color: rgba(209, 241, 255, 0.05);
  position: absolute;
  z-index: 20000;
  display: none;
  border: 1px solid #094B81;
  border-radius: 0 0 2px 2px ;
}
.select-year ul.active {
  border-color: #094B81;
  border-top: 0;
  -webkit-box-shadow: 0 1px 2px #6AABDD;
  -moz-box-shadow: 0 1px 2px #6AABDD;
  box-shadow: 0 1px 2px #6AABDD;
}
.select-year ul li {
  font-size: 12px;
  height: 26px;
  line-height: 24px;
  margin: 3px 2px;
}
.select-year ul li a {
  display: block;
  height: 24px;
  color: #0D80FE;
  text-decoration: none;
  padding: 0 4px;
  line-height: 24px;
  border-radius: 2px;
}
.select-year ul li:hover {
  background-color: #123D71;
}
.select-year ul li:hover a {
  color: #BBF3FF;
}
