html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.logo-wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0;
  position: relative;
}
.logo-wrapper .nav {
  position: absolute;
  top: 40px;
  left: 544px;
}
.logo-wrapper .nav ul li {
  float: left;
}
.logo-wrapper .nav ul li a {
  position: relative;
  margin-right: 10px;
  display: block;
  color: #ACCAD0;
  font-size: 14px;
  width: 110px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  background: url('../images/nav-normal.png') no-repeat center;
  transition: all 0.3s;
  text-decoration: none;
}
.logo-wrapper .nav ul li a:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 39px;
}
.logo-wrapper .nav ul li a.active {
  color: #4BCEEC;
  background: none;
}
.logo-wrapper .nav ul li a.active:after {
  background: url('../images/nav-hover.png') no-repeat center;
}
.logo-wrapper .nav ul li a:hover {
  color: #4BCEEC;
  background: none;
}
.logo-wrapper .nav ul li a:hover:after {
  background: url('../images/nav-hover.png') no-repeat center;
}
.logo-wrapper .login-wrapper {
  position: absolute;
  top: 22px;
  right: 5px;
  width: 68px;
  height: 48px;
  background: url("../images/enter.png") no-repeat center;
}
.logo-wrapper .login-wrapper span {
  position: absolute;
  color: #B6E9F3;
  display: block;
  font-size: 12px;
  line-height: 16px;
  height: 20px;
  width: 100%;
  bottom: 0;
  text-align: center;
}
