body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
}
.wrapper {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}
.header-wrapper {
  position: relative;
  margin-bottom: -2px;
  padding: 9px 10px;
}
.header-wrapper .logo-wrapper {
  height: 52px;
  background: url("../images/logo-wrapper-bg.png") no-repeat;
  font-size: 0;
}
.header-wrapper .logo-wrapper img {
  float: left;
}
.header-wrapper .logo-wrapper .selector {
  position: absolute;
  left: 478px;
  top: 12px;
  margin: 10px 0 0 60px;
  z-index: 999;
}
.header-wrapper .logo-wrapper .selector .selector-trigger {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #CEF3FC;
  text-decoration: none;
  padding-left: 38px;
  background: #278EFE;
  border-radius: 14px;
}
.header-wrapper .logo-wrapper .selector .selector-trigger:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 18px;
  width: 12px;
  height: 16px;
  background: url("../images/icon-location.png") no-repeat;
}
.header-wrapper .logo-wrapper .selector .selector-list {
  margin-top: 6px;
  display: none;
  box-shadow: 0 0 2px 0 rgba(102, 102, 102, 0.5);
  width: 400px;
  background: #fff;
  border-radius: 2px;
  padding: 5px 10px;
  padding-right: 0;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li {
  font-size: 0;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li .tit {
  float: left;
  width: 30px;
  text-align: left;
  margin-right: 5px;
  font-size: 13px;
  margin-top: 7px;
  color: #006ACC;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul {
  float: left;
  width: 353px;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li {
  float: left;
  width: 60px;
  height: 20px;
  text-align: center;
  margin: 2.5px 5px;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li.active {
  background: #278EFE;
  border-radius: 10px;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li.active a {
  color: #fff;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li.readonly a {
  cursor: default;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li:hover {
  background: #278EFE;
  border-radius: 10px;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li:hover a {
  color: #fff;
}
.header-wrapper .logo-wrapper .selector .selector-list ul li ul li a {
  text-decoration: none;
  line-height: 20px;
  color: #607D8B;
  font-size: 12px;
}
.header-wrapper .nav-wrapper {
  position: absolute;
  top: 17px;
  right: 200px;
  z-index: 1000;
}
.header-wrapper .nav-wrapper .nav {
  float: left;
  width: 146px;
  text-align: center;
  margin-right: 8px;
  background: url("../images/nav-normal.png") no-repeat;
  padding: 10px;
}
.header-wrapper .nav-wrapper .nav a {
  display: inline-block;
  width: 100%;
  color: #0D80FE;
  font-size: 16px;
  height: 40px;
  text-decoration: none;
}
.header-wrapper .nav-wrapper .nav:hover {
  background: url("../images/nav-hover.png") no-repeat;
}
.header-wrapper .nav-wrapper .nav:hover a {
  color: #fff;
}
.header-wrapper .nav-wrapper .nav.active {
  background: url("../images/nav-hover.png") no-repeat;
}
.header-wrapper .nav-wrapper .nav.active a {
  color: #fff;
}
.header-wrapper .enter {
  position: absolute;
  top: 12px;
  width: 102px;
  right: 13px;
  height: 46px;
  background: url(../images/enter.png) no-repeat;
  text-decoration: none;
  line-height: 46px;
  padding-left: 33px;
  color: #0D80FE;
  font-size: 14px;
}
.content-wrapper {
  border-radius: 3px;
  padding: 2px 5px;
  margin: 0 1px;
  margin-top: -17px;
}
.content-wrapper .panel {
  position: relative;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(102, 102, 102, 0.5);
  margin: 6px 2px;
  border-radius: 2px;
}
.content-wrapper .panel.bg02 {
  height: 222px;
  background: url(../images/panel-bg-02.png) no-repeat;
}
.content-wrapper .panel.bg05 {
  height: 450px;
  background: url(../images/panel-bg-05.png) no-repeat;
}
.content-wrapper .panel.bg05 .panel-header {
  padding-left: 38px;
}
.content-wrapper .panel.bg06 {
  height: 221px;
  background: url(../images/panel-bg-06.png) no-repeat;
}
.content-wrapper .panel .panel-header {
  display: inline-block;
  position: absolute;
  left: 0;
  padding-left: 62px;
  height: 35px;
  line-height: 35px;
  color: #BBF3FF;
  font-size: 14px;
}
.content-wrapper .panel .panel-header .num {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 14px;
  color: #006ACC;
}
.content-wrapper .panel .panel-header .num span {
  color: #F64E42;
}
.content-wrapper .panel .panel-cont {
  height: 100%;
  width: 100%;
}
.content-wrapper .panel .right-top {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 18px;
}
.content-wrapper .panel .right-top .select-wrapper {
  float: right;
  margin-left: 10px;
  font-size: 0;
}
.content-wrapper .panel .right-top .select-wrapper .calendar {
  float: right;
  outline: none;
  width: 85px;
  border: 1px solid #094B81;
  border-radius: 2px;
  background: rgba(209, 241, 255, 0.05) url("../images/calendar.png") center right no-repeat;
  color: #0D80FE;
  font-size: 12px;
  padding-left: 4px;
  padding-right: 14px;
  box-sizing: border-box;
  position: relative;
}
.content-wrapper .panel .right-top .select-wrapper .split-line {
  float: right;
  width: 8px;
  height: 1px;
  background: #0D80FE;
  margin: 9px;
}
.content-wrapper .panel .right-top .switch {
  float: right;
  margin-left: 10px;
  width: 30px;
  height: 22px;
  cursor: pointer;
  background: url("../images/pause.png") no-repeat;
}
.content-wrapper .panel .right-top .switch.pause {
  background: url("../images/play.png") no-repeat;
}
.content-wrapper .left {
  float: left;
}
.content-wrapper .left .panel {
  width: 334px;
}
.content-wrapper .left .panel.panel1 {
  height: 450px;
  background: url(../images/panel-bg-05.png) no-repeat;
}
.content-wrapper .left .panel .panel-cont #gauge {
  float: left;
  width: 55%;
  height: 180px;
}
.content-wrapper .left .panel .panel-cont .display {
  padding: 10px;
  float: left;
}
.content-wrapper .left .panel .panel-cont .display .display-item {
  height: 30px;
  margin-bottom: 10px;
  padding: 1px;
  background: url("../images/display-bg-blue.png") no-repeat;
}
.content-wrapper .left .panel .panel-cont .display .display-item .left {
  width: 61px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  font-size: 12px;
  margin-right: 2px;
  text-align: center;
}
.content-wrapper .left .panel .panel-cont .display .display-item .right {
  width: 58px;
  height: 26px;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
}
.content-wrapper .left .panel .panel-cont .display .display-item.zd .left {
  background: #0D80FE ;
}
.content-wrapper .left .panel .panel-cont .display .display-item.zd .right {
  background: #BADBFF;
  color: #006ACC;
}
.content-wrapper .left .panel .panel-cont .display .display-item.gp .left {
  background: #F5A623 ;
}
.content-wrapper .left .panel .panel-cont .display .display-item.gp .right {
  background: #FCD595;
  color: #FF7E22;
}
.content-wrapper .left .panel .panel-cont .display .display-item.cq .left {
  background: #E51C23 ;
}
.content-wrapper .left .panel .panel-cont .display .display-item.cq .right {
  background: #FFAFB2;
  color: #E51C23;
}
.content-wrapper .left .panel .panel-cont .display1 {
  padding: 10px;
  padding-bottom: 10px;
}
.content-wrapper .left .panel .panel-cont .display1 .display-item {
  height: 30px;
  padding: 1px;
  background: url("../images/display-bg-blue.png") no-repeat;
  float: left;
  margin-right: 10px;
}
.content-wrapper .left .panel .panel-cont .display1 .display-item .left {
  width: 61px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  font-size: 12px;
  margin-right: 2px;
  text-align: center;
  background: #094A7F;
}
.content-wrapper .left .panel .panel-cont .display1 .display-item .right {
  width: 58px;
  height: 26px;
  line-height: 26px;
  font-size: 13px;
  text-align: center;
  color: #FD231C;
}
.content-wrapper .middle {
  float: left;
  width: 672px;
}
.content-wrapper .middle .panel {
  position: relative;
  height: 450px;
  background: url("../images/panel-bg-01.png") no-repeat;
}
.content-wrapper .middle .panel.bg00 {
  background: url(../images/panel-bg-00.png) no-repeat;
}
.content-wrapper .middle .panel .panel-cont {
  position: relative;
}
.content-wrapper .middle .panel .board {
  position: absolute;
  left: 20px;
  top: 20px;
}
.content-wrapper .middle .panel .board .radio-select {
  float: left;
  position: relative;
  margin-top: 6px;
}
.content-wrapper .middle .panel .board .radio-select .radio-field {
  float: left;
  color: #8BC2FF;
  font-size: 12px;
  position: relative;
  margin-right: 10px;
}
.content-wrapper .middle .panel .board .radio-select .radio-field input[type="radio"] {
  width: 12px;
  height: 12px;
  opacity: 0;
}
.content-wrapper .middle .panel .board .radio-select .radio-field label {
  position: absolute;
  left: 5px;
  top: 3px;
  width: 20px;
  height: 20px;
}
.content-wrapper .middle .panel .board .radio-select .radio-field input + label {
  width: 12px;
  height: 12px;
  background: url("../images/radio.png") no-repeat;
}
.content-wrapper .middle .panel .board .radio-select .radio-field input:checked + label {
  background: url("../images/radio-checked.png") no-repeat;
}
.content-wrapper .middle .panel .board .city {
  float: left;
  margin-bottom: 12px;
}
.content-wrapper .middle .panel .board .city li {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 94px;
  height: 30px;
  line-height: 28px;
  background: linear-gradient(rgba(56, 168, 255, 0.37), rgba(209, 241, 255, 0.05));
  border: 1px solid #094B81;
  border-radius: 15px;
  font-size: 14px;
  color: #3CA1FF;
  text-align: center;
}
.content-wrapper .middle .panel .board .city li.province {
  padding-left: 22px;
  cursor: pointer;
}
.content-wrapper .middle .panel .board .city li.province:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 5px;
  width: 14px;
  height: 20px;
  background: url("../images/loc.png") no-repeat;
}
.content-wrapper .middle .panel .board .board-list {
  position: absolute;
  top: 40px;
}
.content-wrapper .middle .panel .board .board-list li {
  width: 96px;
  height: 46px;
  background: rgba(209, 241, 255, 0.05);
  border: 1px solid #094B81;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.content-wrapper .middle .panel .board .board-list li .text {
  color: #BBF3FF;
  line-height: 25px;
}
.content-wrapper .middle .panel .board .board-list li .num {
  display: inline-block;
  vertical-align: top;
  color: #EB3432;
  font-size: 15px;
  padding: 0 4px;
}
.content-wrapper .middle .panel .board .board-list li .unit {
  display: inline-block;
  vertical-align: top;
  color: #5F8397;
  line-height: 14px;
}
.content-wrapper .middle .panel .total {
  position: absolute;
  right: 13px;
  bottom: 13px;
  width: 100px;
  height: 46px;
  background: rgba(209, 241, 255, 0.05);
  border: 1px solid #094B81;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
}
.content-wrapper .middle .panel .total .text {
  color: #BBF3FF;
  line-height: 25px;
}
.content-wrapper .middle .panel .total .num {
  display: inline-block;
  vertical-align: top;
  color: #EB3432;
  font-size: 15px;
  padding: 0 4px;
}
.content-wrapper .middle .panel .total .unit {
  display: inline-block;
  vertical-align: top;
  color: #5F8397;
  line-height: 14px;
}
.content-wrapper .middle .panel .right-top {
  z-index: 1;
  position: absolute;
  top: 20px;
  right: 18px;
}
.content-wrapper .middle .panel .right-top .select-wrapper {
  float: right;
  margin-left: 10px;
  font-size: 0;
}
.content-wrapper .middle .panel .right-top .select-wrapper .calendar {
  float: right;
  outline: none;
  width: 85px;
  border: 1px solid #094B81;
  border-radius: 2px;
  background: rgba(209, 241, 255, 0.05) url("../images/calendar.png") center right no-repeat;
  color: #0D80FE;
  font-size: 12px;
  padding-left: 4px;
  padding-right: 14px;
  box-sizing: border-box;
  position: relative;
}
.content-wrapper .middle .panel .right-top .select-wrapper .split-line {
  float: right;
  width: 8px;
  height: 1px;
  background: #0D80FE;
  margin: 9px;
}
.content-wrapper .middle .panel .right-top .switch {
  float: right;
  margin-left: 10px;
  width: 30px;
  height: 22px;
  cursor: pointer;
  background: url("../images/pause.png") no-repeat;
}
.content-wrapper .middle .panel .right-top .switch.pause {
  background: url("../images/play.png") no-repeat;
}
.content-wrapper .middle .panel .left {
  float: left;
  width: 60%;
  height: 100%;
}
.content-wrapper .middle .panel .right {
  float: left;
  width: 40%;
  height: 100%;
}
.content-wrapper .right {
  float: left;
  width: 340px;
}
.content-wrapper .right .panel.bg02 {
  height: 222px;
  background: url("../images/panel-bg-02.png") no-repeat;
}
.content-wrapper .right .panel .panel-cont {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content-wrapper .right .panel .panel-cont .grid {
  width: 306px;
  margin: 0 auto;
  height: 116px;
  background: url("../images/grid-bg.png") no-repeat;
}
.content-wrapper .right .panel .panel-cont .grid tr {
  line-height: 23px;
  height: 23px;
}
.content-wrapper .right .panel .panel-cont .grid th {
  text-align: center;
  color: #BBF3FF;
  font-size: 12px;
}
.content-wrapper .right .panel .panel-cont .grid td {
  padding-left: 10px;
  text-align: left;
  color: #BBF3FF;
  font-size: 12px;
}
.content-wrapper .right .panel .panel-cont .grid1 {
  width: 306px;
  margin: 0 auto;
  height: 351px;
  background: url("../images/grid-bg1.png") no-repeat;
}
.content-wrapper .right .panel .panel-cont .grid1 tr {
  line-height: 34px;
}
.content-wrapper .right .panel .panel-cont .grid1 th {
  text-align: center;
  color: #BBF3FF;
  font-size: 12px;
}
.content-wrapper .right .panel .panel-cont .grid1 td {
  padding-left: 10px;
  text-align: left;
  color: #BBF3FF;
  font-size: 12px;
}
.content-wrapper .bottom {
  float: left;
}
.content-wrapper .bottom .panel {
  float: left;
  width: 671px;
  margin-top: 0;
  height: 222px;
  background: url("../images/panel-bg-03.png") no-repeat;
}
.content-wrapper .bottom .panel.bg02 {
  width: 334px;
  background: url("../images/panel-bg-02.png") no-repeat;
}
.content-wrapper .bottom .panel.bg03 {
  width: 671px;
  background: url("../images/panel-bg-03.png") no-repeat;
}
.content-wrapper .bottom .panel.bg03 .panel-header {
  padding-left: 52px;
}
.content-wrapper .bottom .panel .panel-header {
  padding-left: 60px;
}
.content-wrapper .bottom .panel .panel-cont .left {
  height: 100%;
  float: left;
}
.content-wrapper .bottom .panel .panel-cont .right {
  height: 100%;
  float: left;
}
.content-wrapper .list .list-item {
  float: left;
  width: 158px;
  height: 50px;
  margin: 2px;
  background: #fff;
  border: 1px solid #094B81;
  padding: 10px 0 10px 44px;
  position: relative;
  border-radius: 4px;
  margin-bottom: 4px;
  /*-------------------------------*/
}
.content-wrapper .list .list-item.hmd {
  background: url("../images/oval-hmd.png") 7px no-repeat;
}
.content-wrapper .list .list-item.bzhdb {
  background: url("../images/oval-bzhdb.png") 7px no-repeat;
}
.content-wrapper .list .list-item.zyb {
  background: url("../images/oval-zyb.png") 7px no-repeat;
}
.content-wrapper .list .list-item.fxd {
  background: url("../images/oval-fxd.png") 7px no-repeat;
}
.content-wrapper .list .list-item.zdjg {
  background: url("../images/oval-zdjg.png") 7px no-repeat;
}
.content-wrapper .list .list-item.zdwxy {
  background: url("../images/oval-zdwxy.png") 7px no-repeat;
}
.content-wrapper .list .list-item.jc {
  background: url("../images/oval-jc.png") 7px no-repeat;
}
.content-wrapper .list .list-item.ws {
  background: url("../images/oval-ws.png") 7px no-repeat;
}
.content-wrapper .list .list-item.la {
  background: url("../images/oval-la.png") 7px no-repeat;
}
.content-wrapper .list .list-item.ja {
  background: url("../images/oval-ja.png") 7px no-repeat;
}
.content-wrapper .list .list-item.cfcs {
  background: url("../images/oval-cfcs.png") 7px no-repeat;
}
.content-wrapper .list .list-item.cfje {
  background: url("../images/oval-cfje.png") 7px no-repeat;
}
.content-wrapper .list .list-item .tit {
  color: #BBF3FF;
  font-size: 12px;
  line-height: 13px;
}
.content-wrapper .list .list-item a {
  color: #EB3432;
  text-decoration: underline;
  font-size: 14px;
  line-height: 19px;
}
.content-wrapper .list .list-item .unit {
  color: #5F8397;
  font-size: 12px;
  margin-left: 5px;
}
.content-wrapper .list .list-item .percent {
  color: #2A8DEA;
  font-size: 14px;
  float: right;
  margin-right: 5px;
  line-height: 19px;
}
.hd {
  height: 15px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 1;
  left: 0;
  text-align: center;
}
.hd ul {
  display: inline-block;
  overflow: hidden;
}
.hd ul li {
  float: left;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background: #BCE0FF;
  cursor: pointer;
  border-radius: 50%;
  color: transparent;
}
.hd ul li.on {
  background: #0D80FE;
}
.bd {
  height: 100%;
  position: relative;
}
.bd ul {
  zoom: 1;
  overflow: hidden;
}
.bd ul li {
  height: 100%;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-4 {
  width: 25%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}
.row-1 {
  height: 33.33333333%;
}
.row-2 {
  height: 66.66666667%;
}
.row-3 {
  height: 100%;
}
.section1-item1-list {
  position: absolute;
  top: 61px;
  left: 15px;
  background: url("../images/cont-bg.png") no-repeat;
  margin: 0 auto;
  width: 302px;
  height: 145px;
}
.section1-item1-list ul li {
  float: left;
  width: 75px;
  height: 70px;
  box-sizing: border-box;
  padding-top: 12px;
}
.section1-item1-list ul li .list-num {
  color: #fff;
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 3px;
}
.section1-item1-list ul li .list-text {
  margin: 0 auto;
  text-align: center;
  color: #0899FF;
  font-size: 12px;
  width: 50px;
  line-height: 16px;
}
