//mixin
.col(@num){
  width:percentage(@num/12);
}
.row(@num){
  height:percentage(@num/3);;
}

body{
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
}
.wrapper{
  width: 1366px;
  height: 768px;
  margin:0 auto;
}
.header-wrapper{
  position: relative;
  margin-bottom: -2px;
  padding: 9px 10px;
  .logo-wrapper{
    height: 52px;
    background: url("../images/logo-wrapper-bg.png") no-repeat;
    font-size: 0;
    img{
      float: left;
    }
    .selector{
      position: absolute;
      left: 478px;
      top: 12px;
      margin: 10px 0 0 60px;
      z-index: 999;
      .selector-trigger{
        position: relative;
        display: inline-block;
        width: 100px;
        height: 28px;
        line-height: 28px;
        font-size: 14px;
        color: #CEF3FC;
        text-decoration: none;
        padding-left: 38px;
        background: #278EFE;
        border-radius: 14px;
        &:before{
          content: '';
          position: absolute;
          top: 6px;
          left: 18px;
          width: 12px;
          height: 16px;
          background: url("../images/icon-location.png") no-repeat;
        }
      }
      .selector-list{
        margin-top: 6px;
        display: none;
        box-shadow: 0 0 2px 0 rgba(102,102,102,0.5);

        width: 400px;
        background:#fff;
        border-radius: 2px;
        padding: 5px 10px;
        padding-right: 0;
        ul{
          li{
            font-size: 0;

            .tit{
              float: left;
              width: 30px;
              text-align: left;
              margin-right: 5px;
              font-size: 13px;
              margin-top: 7px;
              color: #006ACC;
            }
            ul{
              float: left;
              width: 353px;
              li{
                float: left;
                width: 60px;
                height: 20px;
                text-align: center;
                margin:2.5px 5px;

                &.active{
                  background: #278EFE;
                  border-radius: 10px;
                  a{
                    color: #fff;
                  }
                }
                &.readonly{
                  a{
                    cursor: default;

                  }
                }
                &:hover{
                  background: #278EFE;
                  border-radius: 10px;

                  a{
                    color: #fff;
                  }
                }
                a{
                  text-decoration: none;
                  line-height: 20px;
                  color: #607D8B;

                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .nav-wrapper{
    position: absolute;
    top: 17px;
    right: 200px;
    z-index: 1000;
    .nav{
      float: left;
      width: 146px;
      text-align: center;
      margin-right: 8px;
      background: url("../images/nav-normal.png") no-repeat;
      padding: 10px;
      a{
        display: inline-block;
        width:100%;
        color: #0D80FE;
        font-size: 16px;
        height: 40px;
        text-decoration: none;
      }
      &:hover{
        background: url("../images/nav-hover.png") no-repeat;
        a{
          color: #fff;

        }
      }
      &.active{
        background: url("../images/nav-hover.png") no-repeat;
        a{
          color: #fff;
        }
      }
    }
  }

  .enter{
    position: absolute;
    top: 12px;
    width: 102px;
    right: 13px;
    height: 46px;
    background: url(../images/enter.png) no-repeat;
    text-decoration: none;
    line-height: 46px;
    padding-left: 33px;
    color: #0D80FE;
    font-size: 14px;
  }
}
.content-wrapper{
  //margin: 5px;
  //background: url("../images/content-wrapper-bg.png");
  border-radius: 3px;
  padding: 2px 5px;
  margin: 0 1px;
  margin-top: -17px;
  .panel{
    position: relative;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(102,102,102,0.5);
    margin:6px 2px;
    border-radius: 2px;

    &.bg02{
      height: 222px;
      background: url(../images/panel-bg-02.png) no-repeat;
    }

    &.bg05{
      height:450px;
      background: url(../images/panel-bg-05.png) no-repeat;
      .panel-header{
        padding-left: 38px;
      }
    }
    &.bg06{
      height: 221px;
      background: url(../images/panel-bg-06.png) no-repeat;
    }
    .panel-header{
      display: inline-block;
      position: absolute;
      left: 0;
      padding-left: 62px;
      height: 35px;
      line-height: 35px;
      color: #BBF3FF;
      font-size: 14px;
      .num{
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 14px;
        color: #006ACC;
        span{
          color: #F64E42;
        }
      }
    }
    .panel-cont{
      height:100%;
      width:100%;
    }
    .right-top{
      z-index: 1;
      position: absolute;
      top: 20px;
      right: 18px;

      .select-wrapper{
        float: right;
        margin-left:10px;
        font-size: 0;
        .calendar{
          float: right;
          outline: none;
          width: 85px;
          border:1px solid #094B81;
          border-radius: 2px;
          background: rgba(209,241,255,0.05)  url("../images/calendar.png") center right no-repeat;
          color: #0D80FE;
          font-size: 12px;
          padding-left: 4px;
          padding-right: 14px;
          box-sizing: border-box;
          position: relative;

        }
        .split-line{
          float: right;
          width: 8px;
          height: 1px;
          background: #0D80FE;
          margin: 9px;

        }
      }
      .switch{
        float: right;
        margin-left:10px;
        width: 30px;
        height: 22px;
        cursor: pointer;
        //默认播放状态
        background: url("../images/pause.png") no-repeat;
        &.pause{
          background: url("../images/play.png") no-repeat;
        }
      }
    }

  }
  .left{
    float: left;
    .panel{
      width: 334px;
      &.panel1{
        height: 450px;
        background: url(../images/panel-bg-05.png) no-repeat;
      }
      .panel-header{

      }
      .panel-cont{
        //height: 185px;
        #gauge{
          float: left;
          width:55%;
          height: 180px;
        }
        .display{
          padding: 10px;
          float: left;
          .display-item{
            //width: 100px;
            height: 30px;
            margin-bottom: 10px;
            padding: 1px;
            background: url("../images/display-bg-blue.png") no-repeat;

            .left{
              width: 61px;
              height: 26px;
              line-height: 26px;
              color:#fff;
              font-size: 12px;
              margin-right: 2px;
              text-align: center;
            }
            .right{
              width: 58px;
              height: 26px;
              line-height: 26px;
              font-size: 20px;
              text-align: center;
            }
            &.zd{
              .left{
                background:#0D80FE ;
              }
              .right{
                background: #BADBFF;
                color: #006ACC;

              }
            }
            &.gp{
              .left{
                background:#F5A623 ;
              }
              .right{
                background: #FCD595;
                color: #FF7E22;
              }
            }
            &.cq{
              .left{
                background:#E51C23 ;
              }
              .right{
                background: #FFAFB2;
                color: #E51C23;
              }
            }
          }
        }
        .display1 {
          padding: 10px;
          padding-bottom: 10px;
          .display-item {
            //width: 100px;
            height: 30px;
            padding: 1px;
            background: url("../images/display-bg-blue.png") no-repeat;
            float: left;
            margin-right: 10px;
            .left {
              width: 61px;
              height: 26px;
              line-height: 26px;
              color: #fff;
              font-size: 12px;
              margin-right: 2px;
              text-align: center;
              background: #094A7F;
            }
            .right {
              width: 58px;
              height: 26px;
              line-height: 26px;
              font-size: 13px;
              text-align: center;
              color: #FD231C;
            }
          }
        }
      }
    }
  }
  .middle{
    float: left;
    width: 672px;
    .panel{
      position: relative;
      height: 450px;
      background: url("../images/panel-bg-01.png") no-repeat;
      &.bg00{
        background: url(../images/panel-bg-00.png) no-repeat;
      }
      .panel-header{
      }
      .panel-cont{
        position: relative;
      }
      .board{
        position: absolute;
        left: 20px;
        top:20px;
        .radio-select{
          float: left;
          position: relative;
          margin-top: 6px;
          .radio-field{
            float: left;
            color: #8BC2FF;
            font-size: 12px;
            position: relative;
            margin-right: 10px;
            input[type="radio"]{
              width: 12px;
              height: 12px;
              opacity: 0;
            }
            label {
              position: absolute;
              left: 5px;
              top: 3px;
              width: 20px;
              height: 20px;
            }
            input+label{
              width: 12px;
              height: 12px;
              background: url("../images/radio.png") no-repeat;

            }
            input:checked+label{
              background: url("../images/radio-checked.png") no-repeat;

            }
          }


        }
        .city{
          float: left;
          margin-bottom: 12px;
          li{
            position: relative;
            float: left;
            margin-right: 10px;
            width: 94px;height:30px;
            line-height:28px;
            background:linear-gradient(rgba(56,168,255,0.37),rgba(209,241,255,0.05));

            border: 1px solid #094B81;border-radius: 15px;
            font-size: 14px;color: #3CA1FF;
            text-align: center;
            &.province{
              padding-left: 22px;
              cursor: pointer;
              &:before{
                content: '';
                position: absolute;
                left: 16px;
                top:5px;
                width: 14px;
                height: 20px;
                background: url("../images/loc.png") no-repeat;
              }
            }
          }
        }
        .board-list{
          position: absolute;
          top: 40px;
          li{
            width: 96px;
            height: 46px;
            background: rgba(209, 241, 255, 0.05);
            border: 1px solid #094B81;
            text-align: center;
            font-size: 12px;
            border-radius: 4px;
            margin-bottom: 10px;
            .text{
              color: #BBF3FF;
              line-height: 25px;}
            .num{
              display: inline-block;
              vertical-align: top;
              color: #EB3432;
              font-size: 15px;
              padding: 0 4px;
            }
            .unit{
              display: inline-block;
              vertical-align: top;
              color: #5F8397;
              line-height: 14px;
            }
          }


        }
      }
      .total{
        position: absolute;
        right: 13px;
        bottom: 13px;
        width: 100px;
        height: 46px;
        background: rgba(209, 241, 255, 0.05);
        border: 1px solid #094B81;
        text-align: center;
        font-size: 12px;
        border-radius: 4px;
        .text{
          color: #BBF3FF;
          line-height: 25px;}
        .num{
          display: inline-block;
          vertical-align: top;
          color: #EB3432;
          font-size: 15px;
          padding: 0 4px;
        }
        .unit{
          display: inline-block;
          vertical-align: top;
          color: #5F8397;
          line-height: 14px;
        }
      }
      .right-top{
        z-index: 1;
        position: absolute;
        top: 20px;
        right: 18px;

        .select-wrapper{
          float: right;
          margin-left:10px;
          font-size: 0;
          .calendar{
            float: right;
            outline: none;
            width: 85px;
            border:1px solid #094B81;
            border-radius: 2px;
            background: rgba(209,241,255,0.05)  url("../images/calendar.png") center right no-repeat;
            color: #0D80FE;
            font-size: 12px;
            padding-left: 4px;
            padding-right: 14px;
            box-sizing: border-box;
            position: relative;

          }
          .split-line{
            float: right;
            width: 8px;
            height: 1px;
            background: #0D80FE;
            margin: 9px;

          }
        }
        .switch{
          float: right;
          margin-left:10px;
          width: 30px;
          height: 22px;
          cursor: pointer;
          //默认播放状态
          background: url("../images/pause.png") no-repeat;
          &.pause{
            background: url("../images/play.png") no-repeat;
          }
        }
      }
      .left{
        float: left;
        width:60%;
        height:100%;
      }
      .right{
        float: left;
        width:40%;
        height:100%;
      }
    }
  }
  .right{
    float: left;
    width: 340px;
    .panel{
      &.bg02{
        height: 222px;
        background: url("../images/panel-bg-02.png") no-repeat;
      }
      .panel-header{

      }
      .panel-cont{
        width:100%;
        height: 100%;
        overflow: hidden;
        .grid{
          width: 306px;
          margin:0 auto;
          height: 116px;
          //margin-top: 3px;
          background: url("../images/grid-bg.png") no-repeat;
          tr{
            line-height: 23px;
            height: 23px;
          }
          th{
            text-align: center;
            color: #BBF3FF;
            font-size: 12px;
          }
          td{
            padding-left: 10px;
            text-align: left;
            color: #BBF3FF;
            font-size: 12px;
          }
        }
        .grid1{
          width: 306px;
          margin:0 auto;
          height: 351px;
          //margin-top: 3px;
          background: url("../images/grid-bg1.png") no-repeat;
          tr{
            line-height: 34px;
            //height: 23px;
          }
          th{
            text-align: center;
            color: #BBF3FF;
            font-size: 12px;
          }
          td{
            padding-left: 10px;
            text-align: left;
            color: #BBF3FF;
            font-size: 12px;
          }
        }
      }
    }
  }
  .bottom{
    float: left;
    .panel{
      float: left;
      width: 671px;
      margin-top: 0;
      height: 222px;
      background: url("../images/panel-bg-03.png") no-repeat;
      &.bg02{
        width: 334px;
        background: url("../images/panel-bg-02.png") no-repeat;
        .panel-header{
          //padding-left: 37px;
        }
      }
      &.bg03{
        width: 671px;
        background: url("../images/panel-bg-03.png") no-repeat;
        .panel-header{
          padding-left: 52px;
        }
      }

      .panel-header{
        padding-left: 60px;
      }
      .panel-cont{
        //height: 190px;
        .left{
          height:100%;
          float: left;
        }
        .right{
          height:100%;
          float: left;
        }
      }
    }
  }
  .list{
    .list-item{
      float: left;
      width: 158px;
      height: 50px;
      margin: 2px;
      background: #fff;
      border:1px solid #094B81;
      padding: 10px 0 10px 44px;
      position: relative;
      border-radius: 4px;
      margin-bottom: 4px;

      //纳入黑名单
      &.hmd{
        background: url("../images/oval-hmd.png") 7px no-repeat;
      }
      //标准化达标
      &.bzhdb{
        background: url("../images/oval-bzhdb.png") 7px no-repeat;
      }
      //职业病危害
      &.zyb{
        background: url("../images/oval-zyb.png") 7px no-repeat;
      }
      //涉及风险点
      &.fxd{
        background: url("../images/oval-fxd.png") 7px no-repeat;
      }
      //重点监管行业
      &.zdjg{
        background: url("../images/oval-zdjg.png") 7px no-repeat;
      }
      //有重大危险源
      &.zdwxy{
        background: url("../images/oval-zdwxy.png") 7px no-repeat;
      }
/*-------------------------------*/
      //检查数
      &.jc{
        background: url("../images/oval-jc.png") 7px no-repeat;
      }
      //文书数
      &.ws{
        background: url("../images/oval-ws.png") 7px no-repeat;
      }
      //立案数
      &.la{
        background: url("../images/oval-la.png") 7px no-repeat;
      }
      //结案数
      &.ja{
        background: url("../images/oval-ja.png") 7px no-repeat;
      }
      //处罚次数
      &.cfcs{
        background: url("../images/oval-cfcs.png") 7px no-repeat;
      }
      //处罚金额
      &.cfje{
        background: url("../images/oval-cfje.png") 7px no-repeat;
      }
      .tit{
        color: #BBF3FF;
        font-size: 12px;
        line-height: 13px;
      }
      a{
        color: #EB3432;
        text-decoration: underline;
        font-size: 14px;
        line-height: 19px;
      }
      .unit{
        color: #5F8397;
        font-size: 12px;
        margin-left: 5px;
      }
      .percent{
        color: #2A8DEA;
        font-size: 14px;
        float: right;
        margin-right: 5px;
        line-height: 19px;
      }
    }
  }
}


.hd{
  height: 15px;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 10px;
  z-index: 1;
  left:0;
  text-align: center;
  ul{
    display: inline-block;
    overflow: hidden;
    li{
      float: left;
      margin-right: 10px;
      width: 8px;
      height: 8px;
      background: #BCE0FF;
      cursor: pointer;
      border-radius: 50%;
      color: transparent;
      &.on{
        background: #0D80FE;
      }
    }
  }
}
.bd{
  height:100%;
  position: relative;
  ul{
    zoom: 1;
    overflow: hidden;
    li{
      height:100%;
    }
  }
}

.col-12{
  .col(12)
}
.col-11{
  .col(11)
}
.col-10{
  .col(10)
}
.col-9{
  .col(9)
}
.col-8{
  .col(8)
}
.col-7{
  .col(7)
}
.col-6{
  .col(6)
}
.col-5{
  .col(5)
}
.col-4{
  .col(4)
}
.col-4{
  .col(3)
}
.col-3{
  .col(3)
}
.col-2{
  .col(2)
}
.col-1{
  .col(1)
}


.row-1{
  .row(1)
}

.row-2{
  .row(2)
}

.row-3{
  .row(3)
}

.section1-item1-list {
  position: absolute;
  top: 61px;
  left: 15px;
  background: url("../images/cont-bg.png") no-repeat;
  margin: 0 auto;
  width: 302px;
  height: 145px;

  ul {
    li {
      float: left;
      width: 75px;
      height: 70px;
      box-sizing: border-box;
      padding-top: 12px;

      .list-num {
        color: #fff;
        width: 100%;
        font-size: 14px;
        text-align: center;
        margin-bottom: 3px;
      }

      .list-text {
        margin: 0 auto;
        text-align: center;
        color: #0899FF;
        font-size: 12px;
        width: 50px;
        line-height: 16px;
      }
    }
  }
}