﻿#SimpleCanleder_Year_Month {
  z-index: 999;
  width: 160px;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid #094B81;
  padding: 10px;
  padding-top: 5px;
  padding-right: 5px;
  position: absolute;
  background-color: rgba(10, 32, 56, 0.9);
  .title {
    //height: 35px;
    li {
      text-align: center;
      &.middle {
        width: 65px;
        position: relative;
        overflow: visible;
        select {
          margin-top: -3px;
        }
        .year_list {
          width: 100px;
          position: absolute;
          background-color: lightgrey;
          left: -20px;
          li {
            background-color: transparent;
            text-align: center;
            width: 45px;
            height: 20px;
          }
          ul {
            clear: both;
          }
        }
      }
      list-style: none;
      width: 30px;
      height: 20px;
      overflow: hidden;
      margin-top: 5px;
      margin-right: 5px;
      float: left;
      cursor: pointer;
      color: #0D80FE;
    }
  }
  .body {
    &:after {
      content: '.';
      display: block;
      clear: both;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
    li {
      text-align: center;
      color: #0D80FE;
      list-style: none;
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin-top: 5px;
      margin-right: 5px;
      float: left;
      display: inline;
      cursor: pointer;
    }
  }
  //.title li.cur,
  .body li.cur {
    background-color: #0D80FE;
    color: #BBF3FF;
  }
  //.title li.over,
  .body li.over {
    background-color: #368AEF;
    color: #000;
  }
  .title li.middle .inner {
    width: 60px;
    height: 20px;
    position: relative;
    select::-ms-expand { display: none; }
    select {
      //清除select的边框样式
      border: none;
      //清除select聚焦时候的边框颜色
      outline: none;
      //将select的宽高等于div的宽高
      width: 100%;
      height: 20px;
      line-height: 20px;
      //隐藏select的下拉图标
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      //通过padding-left的值让文字居中
      padding-left: 18px;
      text-align: center;
      //background: url("../images/icon-select.png") no-repeat center right;
      background: transparent;
      color: #0D80FE;
      cursor: pointer;
    }

  }

  .body li {
    text-align: center;
    .inner {
      padding-top: 8px;
      text-align: center;
    }
  }

  .bottom {
    padding-top: 5px;
    text-align: center;
    button.clear {
      background-color: rgba(0, 0, 0, 0.05);
      border: 1px solid #094B81;
      font-size: 12px;
      color: #0D80FE;
      width: 140px;
      cursor: pointer;
    }
  }
}