#SimpleCanleder_Year_Month {
  z-index: 999;
  width: 160px;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid #094B81;
  padding: 10px;
  padding-top: 5px;
  padding-right: 5px;
  position: absolute;
  background-color: rgba(10, 32, 56, 0.9);
}
#SimpleCanleder_Year_Month .title li {
  text-align: center;
  list-style: none;
  width: 30px;
  height: 20px;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  cursor: pointer;
  color: #0D80FE;
}
#SimpleCanleder_Year_Month .title li.middle {
  width: 65px;
  position: relative;
  overflow: visible;
}
#SimpleCanleder_Year_Month .title li.middle select {
  margin-top: -3px;
}
#SimpleCanleder_Year_Month .title li.middle .year_list {
  width: 100px;
  position: absolute;
  background-color: lightgrey;
  left: -20px;
}
#SimpleCanleder_Year_Month .title li.middle .year_list li {
  background-color: transparent;
  text-align: center;
  width: 45px;
  height: 20px;
}
#SimpleCanleder_Year_Month .title li.middle .year_list ul {
  clear: both;
}
#SimpleCanleder_Year_Month .body:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#SimpleCanleder_Year_Month .body li {
  text-align: center;
  color: #0D80FE;
  list-style: none;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  display: inline;
  cursor: pointer;
}
#SimpleCanleder_Year_Month .body li.cur {
  background-color: #0D80FE;
  color: #BBF3FF;
}
#SimpleCanleder_Year_Month .body li.over {
  background-color: #368AEF;
  color: #000;
}
#SimpleCanleder_Year_Month .title li.middle .inner {
  width: 60px;
  height: 20px;
  position: relative;
}
#SimpleCanleder_Year_Month .title li.middle .inner select::-ms-expand {
  display: none;
}
#SimpleCanleder_Year_Month .title li.middle .inner select {
  border: none;
  outline: none;
  width: 100%;
  height: 20px;
  line-height: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 18px;
  text-align: center;
  background: transparent;
  color: #0D80FE;
  cursor: pointer;
}
#SimpleCanleder_Year_Month .body li {
  text-align: center;
}
#SimpleCanleder_Year_Month .body li .inner {
  padding-top: 8px;
  text-align: center;
}
#SimpleCanleder_Year_Month .bottom {
  padding-top: 5px;
  text-align: center;
}
#SimpleCanleder_Year_Month .bottom button.clear {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #094B81;
  font-size: 12px;
  color: #0D80FE;
  width: 140px;
  cursor: pointer;
}
